{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">

                    <thead>
                    <tr>
                        <th scope="col">Season</th>
                        <th scope="col">part</th>
                        <th scope="col">title</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for episode in episodes %}

                        <tr>
                            <td>
                                {{ episode.season }}
                            </td>
                            <td>{{ episode.part }}</td>
                            <td>
{#                                {{ episode.title }}#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <a class="btn btn-danger" href="{{ path('home') }}">Back</a>
            {#            <a href="{{ path('insert', {id: genre.id}) }}" class="btn btn-primary">new Ganre</a>#}
        </div>
    </div>

{% endblock %}
